<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>index</title>
</head>

    <frameset rows="20%,*,17%" >
        /** 中间图片*/
        <frame src="top.html" scrolling="no"/>
        <frameset cols="16%,*">
            /** 翻译服务区*/
            <frame src="skip_left.html" scrolling="no"/>
            /** 切换区域*/
            <frame src="change.html" name="changearea" />
        </frameset>
        /** 底部邮箱*/
        <frame src="bottom.html" scrolling="no" />
    </frameset>


</html>